$darkbg: #0b0d16;
$bg: #0d0f18;
$contrastbg: #141622;
$bgSecondary: #171925;
$bgSecondaryAlt: #71BAF2;
$fg: #71BAF2;
$fgDim: #71BAF2;
$watermelon: #E57474;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #1E1E2E;
$dimblack: #24273A;
$lightblack: #b3b9b8;
$red: #E57474;
$blue: #67B0E8;
$cyan: #67CBE7;
$blue-desaturated: #529cb0;
$magenta: #C47FD5;
$purple: #C47FD5;
$green: #8CCf7E;
$aquamarine: #8CCf7E;
$yellow: #E5C76B;
$accent: $blue;
$javacafeMagenta: #C47FD5;
$javacafeBlue: #67B0E8;
