* {
    font-family: "Product Sans";
}

window {
    margin: 0px;
    border: 2px solid #24273A;
    border-radius: 20px;
    background-color: #0D0F18;
    font-size: 18px;
}

#input {
    margin: 15px;
    border: 2px solid #24273A;
    border-radius: 15px;
    color: white;
    background-color: #1E1E2E;
}

#input image {
    color: white;
}

#inner-box {
    margin: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #0D0F18;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #0D0F18;
    border-radius: 15px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    padding: 3px 0px;
    margin: 5px;
    border: none;
    color: #c6c6c6;
} 

#entry:selected {
    background-color: #71BAF2;
    font-weight: normal;
    border-radius: 15px;
}

#text:selected {
    background-color: #71BAF2;
    color: #0D0F18;
    font-weight: normal;
}

#img:selected {
    background-color: #71BAF2;
}
